.root {
    -fx-background-color: "#212A3E";
}

.label {
    -fx-font-size: 20;
    -fx-font-family: "Montserrat-Regular";
    -fx-font-weight: bold;
    -fx-text-fill: "F1F6F9";
    -fx-alignment: center;
}

#gameTitle {
    -fx-font-size: 60px;    /* Rozmiar czcionki */
    -fx-font-family: "Montserrat-Bold";  /* Rodzaj czcionki */
    -fx-font-weight: bold;  /* Pogrubienie czcionki */
    -fx-text-fill: "#F1F6F9";
}
                                           /* CSS */
.button {
    -fx-background-color: #9BA4B5; /* Dodaj kolory do swojego gustu */
    -fx-text-fill: white; /* Kolor tekstu */
    -fx-font-family: "Montserrat-Regular";
    -fx-font-size: 16px; /* Rozmiar czcionki */
    -fx-font-weight: bold;
    -fx-padding: 10px 20px; /* Padding wewnątrz przycisku */
    -fx-border-radius: 10px; /* Zaokrąglenie rogu przycisku */
    -fx-background-radius: 10px; /* Musi być taki sam jak border-radius */
}

.button:hover {
    -fx-background-color: #007B9A; /* Kolor tła po najechaniu */
}

.button:pressed {
    -fx-background-color: #006680; /* Kolor tła po naciśnięciu */
}


#green {
    -fx-background-color:
            linear-gradient(#f0ff35, #a9ff00),
            radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}